.card {
    float: right;
    width: 210px;
    background: #1a1a1a;
    border: thin solid #555;
    border-radius: 5px;
    color: #ccc;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 21px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.card:hover {
    border: thin solid #aaa;
}

img.project {
    width: calc( 100% + 20px);
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 1.5em;
}

.card .description {
    margin-top: 0.5em;
    margin-bottom: 0.5em
}

.card .tag {
    background: #444;
    padding: 1px 5px;
    border-radius: 3px;
    font-size: 11px;
}

.card .highlight {
    background: #666;
    color: white;
    font-size: 10px;
    padding: 0 5px;
    margin-left: -5px
}

.card-icon {
    width: 24px;
    height: 24px;
    padding: 4px;
}

.card-title {
    font-size: 16px;
    color: #eee
}

.card-link {
    color: #aaa;
    font-size: 11px
}