#main {
    width:100%;
}
#doc {
    width:500px;
}

p {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    bottom: 0.5em;
    margin: 0.5em 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 32px;
}

h3 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding-top: 1em;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 0em;
}

section {
    width: 500px;
    margin: 1em;
    padding: 1em 2em 0 2em;
    position: relative;
}

img.full {
    width: 100%;
}

img.top {
    margin-top: -1em;
}

.footer {
    font-size: 12px;
    line-height: 20px;
    font-family: sans-serif;
    height: 14em;
    width: calc( 500px + 4em);
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    margin-bottom: 0;
    padding-top: 2em;
    text-align: center;
}

.footer a {
    font-family: sans-serif;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    word-wrap: break-word;
}

.index {
    font-family: sans-serif;
    font-weight: 100;
}

img.cover {
    width: 500px;
    /* filter: saturate(0.5) contrast(1.1); */
}
